NodeRed-FlowCode
[{"id":"91a7ccd8.47b7c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4e7e15b9.6cd8ec","type":"serial in","z":"91a7ccd8.47b7c","name":"","serial":"10253dc8.674382","x":110,"y":200,"wires":[["fde1970b.e698a8"]]},{"id":"fde1970b.e698a8","type":"json","z":"91a7ccd8.47b7c","name":"","property":"payload","action":"","pretty":false,"x":290,"y":200,"wires":[["de69c68e.0f2f58","7cb08b39.4b4084","9e227c82.2105f","cc6ff6f.123a008","5dcf176c.a2ce98","fa3a87f9.2c8148","756f991f.74f258","4c6aadbe.1ea644","1d469bf3.99a3c4","6e1f2a05.c222f4","704c3668.9b9e28","fd34f100.bf04a"]]},{"id":"704c3668.9b9e28","type":"debug","z":"91a7ccd8.47b7c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1130,"y":180,"wires":[]},{"id":"de69c68e.0f2f58","type":"function","z":"91a7ccd8.47b7c","name":"UP","func":"var outputMsgs1 = [];\nvar words = msg.payload.up;\nfor (var w in words) {\n    outputMsgs1.push({payload:words[w]});\n}\n\nreturn [ outputMsgs1];\n","outputs":1,"noerr":0,"x":610,"y":120,"wires":[["1a78b767.2454a9"]]},{"id":"7cb08b39.4b4084","type":"function","z":"91a7ccd8.47b7c","name":"DOWN","func":"var outputMsgs2 = [];\nvar words = msg.payload.down;\nfor (var w in words) {\n    outputMsgs2.push({payload:words[w]});\n}\nreturn [ outputMsgs2 ];","outputs":1,"noerr":0,"x":620,"y":220,"wires":[["67aa0efa.3f0da"]]},{"id":"9e227c82.2105f","type":"function","z":"91a7ccd8.47b7c","name":"LEFT","func":"var outputMsgs3 = [];\nvar words = msg.payload.left;\nfor (var w in words) {\n    outputMsgs3.push({payload:words[w]});\n}\nreturn [ outputMsgs3 ];","outputs":1,"noerr":0,"x":610,"y":340,"wires":[["73b4c7da.438958"]]},{"id":"cc6ff6f.123a008","type":"function","z":"91a7ccd8.47b7c","name":"RIGHT","func":"var outputMsgs4 = [];\nvar words = msg.payload.right;\nfor (var w in words) {\n    outputMsgs4.push({payload:words[w]});\n}\nreturn [ outputMsgs4 ];","outputs":1,"noerr":0,"x":620,"y":460,"wires":[["dc4994a4.9dba58"]]},{"id":"67aa0efa.3f0da","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"23ae6150.77620e","order":2,"width":0,"height":0,"label":"down","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":220,"wires":[["704c3668.9b9e28"],[]]},{"id":"73b4c7da.438958","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"cfd5924e.cc78f","order":3,"width":0,"height":0,"label":"left","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":340,"wires":[["704c3668.9b9e28"],[]]},{"id":"dc4994a4.9dba58","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"cfd5924e.cc78f","order":4,"width":0,"height":0,"label":"right","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":460,"wires":[["704c3668.9b9e28"],[]]},{"id":"fa3a87f9.2c8148","type":"function","z":"91a7ccd8.47b7c","name":"GREEN","func":"\nvar newMsg = {payload: msg.payload.rgb[1]};\nreturn newMsg;","outputs":1,"noerr":0,"x":620,"y":280,"wires":[["459e0ab4.be0634","2630c93.86f8336"]]},{"id":"5dcf176c.a2ce98","type":"function","z":"91a7ccd8.47b7c","name":"RED","func":"\nvar newMsg = {payload: msg.payload.rgb[0]};\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":160,"wires":[["422f9920.9b9028","aee46c98.0c29f"]]},{"id":"756f991f.74f258","type":"function","z":"91a7ccd8.47b7c","name":"BLUE","func":"\nvar newMsg = {payload: msg.payload.rgb[2]};\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":400,"wires":[["6d037156.ea71e","999ead87.e4eb3"]]},{"id":"422f9920.9b9028","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"58e816ee.34ce18","order":2,"width":0,"height":0,"label":"red","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":160,"wires":[["704c3668.9b9e28"],[]]},{"id":"459e0ab4.be0634","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"58e816ee.34ce18","order":3,"width":0,"height":0,"label":"green","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":280,"wires":[["704c3668.9b9e28"],[]]},{"id":"6d037156.ea71e","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"58e816ee.34ce18","order":4,"width":0,"height":0,"label":"blue","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":400,"wires":[["704c3668.9b9e28"],[]]},{"id":"4c6aadbe.1ea644","type":"function","z":"91a7ccd8.47b7c","name":"length","func":"var newMsg = { payload: msg.payload.up.length };\nreturn newMsg;","outputs":1,"noerr":0,"x":690,"y":60,"wires":[["704c3668.9b9e28"]]},{"id":"49fa7e2e.a83eb","type":"ui_text","z":"91a7ccd8.47b7c","group":"58e816ee.34ce18","order":1,"width":0,"height":0,"name":"","label":"Direction","format":"{{msg.payload}}","layout":"row-center","x":420,"y":80,"wires":[]},{"id":"1d469bf3.99a3c4","type":"function","z":"91a7ccd8.47b7c","name":"Direction","func":"var outputMsgs = [];\nvar words = msg.payload.direction.split(\" \");\nfor (var w in words) {\n    outputMsgs.push({payload:words[w]});\n}\nreturn [ outputMsgs ];","outputs":1,"noerr":0,"x":260,"y":80,"wires":[["49fa7e2e.a83eb"]]},{"id":"6e1f2a05.c222f4","type":"function","z":"91a7ccd8.47b7c","name":"ALS","func":"var newMsg = {payload: msg.payload.als[0]};\nreturn newMsg;","outputs":1,"noerr":0,"x":610,"y":520,"wires":[["a82802fc.c3811"]]},{"id":"a82802fc.c3811","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"58e816ee.34ce18","order":0,"width":0,"height":0,"label":"als","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"10000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":770,"y":520,"wires":[["704c3668.9b9e28"],[]]},{"id":"aee46c98.0c29f","type":"ui_gauge","z":"91a7ccd8.47b7c","name":"","group":"c24cc42f.ba21c8","order":0,"width":0,"height":0,"gtype":"gage","title":"RED","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#ff0000","#ff0000","#ff0000"],"seg1":"","seg2":"","x":330,"y":280,"wires":[]},{"id":"2630c93.86f8336","type":"ui_gauge","z":"91a7ccd8.47b7c","name":"","group":"c24cc42f.ba21c8","order":0,"width":0,"height":0,"gtype":"gage","title":"GREEN","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":340,"y":400,"wires":[]},{"id":"999ead87.e4eb3","type":"ui_gauge","z":"91a7ccd8.47b7c","name":"","group":"c24cc42f.ba21c8","order":0,"width":0,"height":0,"gtype":"gage","title":"BLUE","label":"","format":"{{value}}","min":0,"max":"2000","colors":["#0000ff","#0000ff","#0000ff"],"seg1":"","seg2":"","x":330,"y":520,"wires":[]},{"id":"1a78b767.2454a9","type":"ui_chart","z":"91a7ccd8.47b7c","name":"","group":"23ae6150.77620e","order":1,"width":0,"height":0,"label":"up","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"bezier","nodata":"","dot":true,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":790,"y":120,"wires":[["704c3668.9b9e28"],[]]},{"id":"fd34f100.bf04a","type":"function","z":"91a7ccd8.47b7c","name":"","func":"var outputMsgs2 = [];\nvar words = msg.payload.direction.split(\" \");\nvar count = global.get('count')||0;\nfor (var w in words) {\n    outputMsgs2.push({payload:words[w]});\n}\n\nif(msg.payload.outpuMsgs2==\"up\"){\n    count+=1;\n// Function to increment counter\nglobal.set('count',count);\n}\nvar newMsg = { payload:\"upp\" +count };\nreturn [newMsg];\n\n\n","outputs":1,"noerr":0,"x":690,"y":20,"wires":[["704c3668.9b9e28"]]},{"id":"10253dc8.674382","type":"serial-port","z":"91a7ccd8.47b7c","serialport":"COM6","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"23ae6150.77620e","type":"ui_group","z":"","name":"Up Down","tab":"d347c708.5d63f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"cfd5924e.cc78f","type":"ui_group","z":"","name":"Left Right","tab":"d347c708.5d63f8","order":3,"disp":true,"width":"6","collapse":false},{"id":"58e816ee.34ce18","type":"ui_group","z":"","name":"Red Green Blue Ambient","tab":"d347c708.5d63f8","order":2,"disp":true,"width":"6","collapse":false},{"id":"c24cc42f.ba21c8","type":"ui_group","z":"","name":"RGB Last","tab":"d347c708.5d63f8","order":4,"disp":true,"width":"6","collapse":false},{"id":"d347c708.5d63f8","type":"ui_tab","z":"","name":"APDS9960","icon":"dashboard","order":2}]
